body {
    overflow-x: hidden;
    font-family: 'Montserrat', sans-serif;
    color: white;
}

.top-bar {
    background-color: darkcyan;
    height: 5.4rem;
    padding: 0.5rem 0;
}

.top-bar a {
    color: white;
    text-decoration: none;
    font-size: 1.1rem;
}

.navbar {
    font-size: 1.15rem;
    font-weight: 600;
    letter-spacing: 0.1rem;
    box-shadow: 0 0.5rem 0.5rem rgba(0, 0, 0, 0.2);
    z-index: 1;
}

.nav-item {
    padding: 0.5rem;
}

.nav-link {
    color: gray !important;
}

.nav-link.active, .nav-link.hover {
    color: white;
}